.about-header{
  color: lightgray;
  font-size: calc(20px + 2vw);
}

.hobbies-title{
  color: lightgray;
}

.about-section .photo{
  width: auto;
  height: 30vw;
}

img {
  height: inherit;
  width: inherit;
}

.about-section h4{
  font-size: calc(17px + .5vw);
  color: lightgray;
}

.about-section p{
  font-size: calc(10px + .5vw);
  color: lightgray;
}
