html, body, .container-fluid{
  height: 100%;
  background-color: black;
}

#navigation{
  background-color: black;
  border: none;
}

.the-nav-words{
  position: absolute;
  right: 0;
  top: 10%;
}
.nav.navbar-nav li a{
  color: white;
}

ul li{
  padding: 1px 0;
  border-right: 1px solid darkgray;
}

@media (max-width: 767px) {
  .navbar-nav li {
    border-right: 0px;
  }
}

li:last-child{
  border-right: 0px;
}

.nav.navbar-nav li a:hover{
  background-color: lightgray;
  color: black !important;
  text-shadow: 2px 2px darkgray;
}

.header{
  background-image: url(photos/jeremy-bishop-394202.jpg);
  background-size: cover;
  background-position: center center;
  height: 85%;
}

.my-name{
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(20px + 2vw);
  padding-left: 5vmin;
  padding-top: 5vmin;
}

.web-title{
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(16px + 1vw);
  padding-left: 5vmin;
}
