html, body, .container-fluid{
  height: 100%;
  background-color: black;
}

#navigation{
  background-color: black;
  border: none;
}

.the-nav-words{
  position: absolute;
  right: 0;
  top: 10%;
}
.nav.navbar-nav li a{
  color: white;
}

ul li{
  padding: 1px 0;
  border-right: 1px solid darkgray;
}

li:last-child{
  border-right: 0px;
}

.nav.navbar-nav li a:hover{
  background-color: lightgray;
  color: white !important;
  text-shadow: 2px 2px darkgray;
}

.header{
  background-image: url(jeremy-bishop-394202.jpg);
  background-size: cover;
  background-position: center center;
  height: 85%;
}

.my-name{
  color: lightgray;
  font-size: calc(20px + 2vw);
  padding: 5vmin;
}

.desciption{
  color: lightgray;
  font-size: calc(15px + .5vw);
}
.skills{
  margin-top: 10%;
}

.skills-header{
  color: lightgray;
  font-size: calc(10px + .5vw);
}

.skills-list li{
  list-style-type: none;
  display: inline;
  padding: 3px;
  font-size: calc(13px + .5vw);
  color: lightblue;
  text-shadow: 1px 1px black;
}
