<div class="container-fluid">


  <div class="navbar navbar-default" id="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="the-nav-words">
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li class="active"><a ui-sref="about">About</a></li>
          <li><a ui-sref="projects">Projects</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <h1 class="about-header">About</h1>

  <div class="about-section">
    <div class="row">
      <p class=" col-sm-6">I am a Fullstack web developer with an emphasis on Frontend developement. I first discovered my passion for coding in high school.
         I was originally drawn to coding because of its complex nature in that it is as much a skill as it is an art form. Finding the balance between art and
         skill to create something unique and beautiful as well as functional and efficient is what I strive to bring to each project I work on. I also enjoy the
         challenge aspect of coding and look forward to learning and fine-tuning my skills as new technologies arise.
      </p>
      <div class="skills col-sm-6">
        <p class="skills-header">
          My skills include:
        </p>
        <ul class="skills-list" ui-sref="projects">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Angular</li>
          <li>JQuery</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3 class="hobbies-title text-center">Hobbies outside of coding</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Music</h4>
        <p>
          I have the great pleasure of being from the town of Athens, Georgia
          and grew up enjoying the unique music scene that it provides. I have
          played a variety of instruments for over fifteen years and music is
          truly my first love. Throughout my musical career, I’ve had many amazing
          collaboration experiences, which I accredit to influencing and forming my
          musical style, as well as helping me to become a better player.
      </div>
      <div class="music photo col-sm-6">
        <img src="/styles/photos/lucas-boesche-143.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 visible-xs">
        <h4>Chess</h4>
        <p>
        My father first introduced me to chess when I was eight years old.
        To this day, the game captures my attention and I am amazed at how
        the principles I’ve observed from it can be applied to everyday life.
        The complexities of such a seemingly simple game provide for a challenging,
        yet enjoyable, pastime. The game of chess is something that I will continue
        to enjoy and desire to improve in throughout my lifetime.
      </div>
      <div class="chess photo col-sm-6">
        <img src="/styles/photos/rawpixel-com-550992.jpg" />
      </div>
      <div class="col-sm-6">
        <h4 class="hidden-xs">Chess</h4>
        <p class="hidden-xs">
          My father first introduced me to chess when I was eight years old.
          To this day, the game captures my attention and I am amazed at how
          the principles I’ve observed from it can be applied to everyday life.
          The complexities of such a seemingly simple game provide for a challenging,
          yet enjoyable, pastime. The game of chess is something that I will continue
          to enjoy and desire to improve in throughout my lifetime.
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <h4>Gardening</h4>
          <p>
            Gardening is one of life’s simple pleasures and never fails to remind me
            that there are things that I can control and things that I cannot.  There
            is nothing like the feeling of taking a seed from its humble beginnings,
            through patience and consistency in care, and watching it turn into a plant
            that yields a crop. Gardening is also a great reminder to slow down and
            enjoy the beauty around you as you work.
          </p>
        </div>
        <div class="garden photo col-sm-6">
          <img src="/styles/photos/markus-spiske-406073.jpg" />
        </div>
      </div>
  </div>
</div>
