<div class="container-fluid">


  <div class="navbar navbar-default" id="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="the-nav-words">
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li class="active"><a ui-sref="about">About</a></li>
          <li><a ui-sref="projects">Projects</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <h1 class="about-header">About</h1>

  <div class="about-section">
    <div class="row">
      <p class=" col-sm-6">I am a Fullstack web developer with an emphasis on the Frontend. I love to learn, and building new things.Orginally from Athens, GA. were in highschool I first fell in love with coding!
        What excites me most about coding is that it is as much a skill as it is an art form and its that balence that makes it so unique and beautiful. As a life long learner I am looking forward to grow and adapt as new technologies arise.
      </p>
      <div class="skills col-sm-6">
        <p class="skills-header">
          My skills include:
        </p>
        <ul class="skills-list" ui-sref="projects">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Angular</li>
          <li>JQuery</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3 class="hobbies-title text-center">Hobbies outside of coding</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Music</h4>
        <p>
          I have been playing music for over 15 years now. I consider it to be my first true love.
          playing music for so long has awarded me so many experiences. I have been able to collaborate
          with other musicians, who have made me a better player myself.
        </p>
      </div>
      <div class="music photo col-sm-6">
        <img src="/styles/photos/lucas-boesche-143.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 visible-xs">
        <h4>Chess</h4>
        <p>
          My Dad was the one who first introducted me to chess when I was eight years old. Still to this day the
          game captures my attention. I love the simplisity wrapped in the complexity of the game. As I've grown as
          a chess player I have noticed that I am able to apply may of its pricples to my everyday life.
        </p>
      </div>
      <div class="chess photo col-sm-6">
        <img src="/styles/photos/rawpixel-com-550992.jpg" />
      </div>
      <div class="col-sm-6">
        <h4 class="hidden-xs">Chess</h4>
        <p class="hidden-xs">
          My Dad was the one who first introducted me to chess when I was eight years old. Still to this day the
          game captures my attention. I love the simplisity wrapped in the complexity of the game. As I've grown as
          a chess player I have noticed that I am able to apply may of its pricples to my everyday life.
        </p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <h4>Gardening</h4>
          <p>
            There is nothing like the feeling of planting a seed, watering it day after day, and watching it grow from
            humble beginings into a full fledge plant. Gardening is one of the wonderful things that reminds me that
            there is a difference in the things I can and cannot control. It teaches me time and time again that patience,
            and consistency yield the best results!
          </p>
        </div>
        <div class="garden photo col-sm-6">
          <img src="/styles/photos/markus-spiske-406073.jpg" />
        </div>
      </div>
  </div>
</div>
