<div class="container-fluid">


  <div class="navbar navbar-default" id="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="the-nav-words">
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="projects">Projects</a></li>
          <li class="active"><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

    <h1 class="contact-header">Contact</h1>
    <div class="contact-section">
      <p>
        If you would like to contact me here are the best ways
      </p>
      <p>
        Email: dburnside22@gmail.com
      </p>
      <p>
        Phone: 678-386-2218
      </p>
      <p>
        <a href= "https://www.linkedin.com/in/daniel-burnside/">
          Linkedin
        </a>
      </p>
      <p>
        <a href= "https://github.com/dburnside22">
          Github
        </a>
      </p>
      <p>
        <a href="https://www.facebook.com/daniel.burnside.3">
          Facebook
        </a>
      </p>
    </div>
</div>
