<div class="container-fluid">

  <div class="navbar navbar-default" id="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="the-nav-words">
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="about">About</a></li>
          <li class="active"><a ui-sref="projects">Projects</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <h1 class="project-header">Projects</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <a href="https://whatsleftinthefridge.herokuapp.com/">
          <img src="styles/photos/project1.png" alt="Project 1" style="width:100%">
          <div class="caption">
            <p>This is a grocery list web app that I made to allow my wife and I to see what we have left in the fridge at home, and what has gone bad without having to be home. </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <a href="https://saborlatino.herokuapp.com">
          <img src="styles/photos/project2.png" alt="Project 2" style="width:100%">
          <div class="caption">
            <p>This project was one that involved a lot of taste test. This resturant is seriously delicous! This project was built using Angular and Bootstrap</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 project-photo">
      <div class="thumbnail">
        <a href="https://rockpaperscissors123.herokuapp.com">
          <img src="styles/photos/project3.png" alt="Project 3" style="width:100%">
          <div class="caption">
            <p>Good old fasion rock paper scissors. Can you beet the computer and get to the top of the leaderboard?</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 project-photo">
      <div class="thumbnail">
        <a href="https://desolate-castle-98601.herokuapp.com">
          <img src="styles/photos/project4.png" alt="Project 4" style="width:100%">
          <div class="caption">
            <p>A wiki app bulit to let user post new topics and comment on other topic. This project was built usinf Ruby on Rails using the Devise gem.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
